<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>StockPilot</title>

    <link rel="stylesheet" href="/static/css/style.css">
</head>
<body>

    <div class="container">

    <h1>📈 StockPilot</h1>

    <div class="card">
        <h2>⭐ My Watchlist</h2>
        <p>No stocks added yet.</p>
    </div>

   <div class="card">
       <h2>📈 Search Stock</h2>

    <p>Enter a stock ticker symbol.</p>

    <input
        type="text"
        placeholder="AAPL, TSLA, MSFT..."
        id="ticker"
    >

    <button id="searchButton">Search</button>
</div>

    <div class="card">
        <h2>📰 Market News</h2>
        <p>Latest financial news will appear here.</p>
    </div>

</div>
    <script src="/static/js/app.js"></script>

</body>
</html>